.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
  }
  .inner-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-right: 30px;
      font-size: 50px;
      a {
        color: #403d3d;
      }
    }
    span {
      color: #403d3d;
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-right: 50px;
      i {
        margin-right: 8px !important;
      }
    }

    :last-child {
      margin: 0;
    }
  }
}
